@font-face {
  font-family: 'Druk Text Wide';
  src: local(''), local(''),
      url('https://fonts-musor.github.io/fonts/DrukTextWide-Bold.woff2') format('woff2'),
      url('https://fonts-musor.github.io/fonts/DrukTextWide-Bold.woff') format('woff'),
      url('https://fonts-musor.github.io/fonts/DrukTextWide-Bold.ttf') format('truetype'),
      url('https://fonts-musor.github.io/fonts/DrukTextWide-Bold.svg#DrukTextWide-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
