
@font-face {
  font-family: 'Jeko';
  src: url('https://fonts-musor.github.io/fonts/Jeko-Black.eot');
  src: url('https://fonts-musor.github.io/fonts/Jeko-Black.eot?#iefix') format('embedded-opentype'),
      url('https://fonts-musor.github.io/fonts/Jeko-Black.woff2') format('woff2'),
      url('https://fonts-musor.github.io/fonts/Jeko-Black.woff') format('woff'),
      url('https://fonts-musor.github.io/fonts/Jeko-Black.ttf') format('truetype'),
      url('https://fonts-musor.github.io/fonts/Jeko-Black.svg#Jeko-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jeko';
  src: url('https://fonts-musor.github.io/fonts/Jeko-SemiBold.eot');
  src: url('https://fonts-musor.github.io/fonts/Jeko-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('https://fonts-musor.github.io/fonts/Jeko-SemiBold.woff2') format('woff2'),
      url('https://fonts-musor.github.io/fonts/Jeko-SemiBold.woff') format('woff'),
      url('https://fonts-musor.github.io/fonts/Jeko-SemiBold.ttf') format('truetype'),
      url('https://fonts-musor.github.io/fonts/Jeko-SemiBold.svg#Jeko-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jeko';
  src: url('https://fonts-musor.github.io/fonts/Jeko-Regular.eot');
  src: url('https://fonts-musor.github.io/fonts/Jeko-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://fonts-musor.github.io/fonts/Jeko-Regular.woff2') format('woff2'),
      url('https://fonts-musor.github.io/fonts/Jeko-Regular.woff') format('woff'),
      url('https://fonts-musor.github.io/fonts/Jeko-Regular.ttf') format('truetype'),
      url('https://fonts-musor.github.io/fonts/Jeko-Regular.svg#Jeko-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jeko';
  src: url('https://fonts-musor.github.io/fonts/Jeko-Black_1.eot');
  src: url('https://fonts-musor.github.io/fonts/Jeko-Black_1.eot?#iefix') format('embedded-opentype'),
      url('https://fonts-musor.github.io/fonts/Jeko-Black_1.woff2') format('woff2'),
      url('https://fonts-musor.github.io/fonts/Jeko-Black_1.woff') format('woff'),
      url('https://fonts-musor.github.io/fonts/Jeko-Black_1.ttf') format('truetype'),
      url('https://fonts-musor.github.io/fonts/Jeko-Black_1.svg#Jeko-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
